<?xml version="1.0"?>
<!--
  This example demonstrates the HyperlinkLicense UI built in to WixBalExtensionExt.
  
  It also shows how to disable the options page and license link.
-->
<Wix RequiredVersion="3.10.0.2103" 
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Sample Burn Installation" Version="$(bal.Version(1.0))" UpgradeCode="2C81F0BB-1891-4E83-B71A-5160BA33D985"
    Manufacturer="ACME"
    AboutUrl="http://wixtoolset.org">

    <BootstrapperApplicationRef Id="WixExtendedBootstrapperApplication.HyperlinkLicense">
      <bal:WixExtendedBootstrapperApplication SuppressOptionsUI="yes" LicenseUrl="" />
    </BootstrapperApplicationRef>

    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]ACME" />

    <Chain DisableSystemRestore="yes">
      <PackageGroupRef Id="NetFx40Redist" />
      <MsiPackage
        Id="Setup"
        Compressed="yes"
        SourceFile="Setup.msi"
        Vital="yes">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>

  </Bundle>
</Wix>
