<?xml version="1.0"?>
<!--
  This example demonstrates the use of an external theme file to create the same UI as 
  Hyperlink2License built in to WixBalExtensionExt.
  
  It also shows the use of two folder selections and radio buttons on the options page.
-->
<Wix RequiredVersion="3.7.1224.0" 
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Sample Burn Installation" Version="$(bal.Version(1.0))" UpgradeCode="2C81F0BB-1891-4E83-B71A-5160BA33D985"
    Manufacturer="ACME"
    AboutUrl="http://wixtoolset.org">

    <Update Location="http://wixtoolset.org/releases/feed/v3.7"/>

    <BootstrapperApplicationRef Id="WixExtendedBootstrapperApplication.HyperlinkLicense">
      <Payload SourceFile="Resource\License.htm" />
      <Payload SourceFile="Resource\LogoSide.png" />
      <Payload SourceFile="Resource\Logo.png" />
    </BootstrapperApplicationRef>
    <WixVariable Id="WixExtbaLicenseUrl" Value="License.htm" />
    <WixVariable Id="WixExtbaThemeXml" Value="Resource\Bundle2Theme.xml" />
    <WixVariable Id="WixExtbaThemeWxl" Value="Resource\HyperlinkTheme.wxl" />

    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]ACME" />
    <Variable Name="InstallFolder2" Type="string" Value="[WindowsVolume]Database" />

    <Variable Name="RadioButton1" Type="numeric" Value="1" />
    <Variable Name="RadioButton2" Type="numeric" Value="0" />
    <Variable Name="RadioButton3" Type="numeric" Value="0" />
    <Variable Name="RadioButton4" Type="numeric" Value="0" />
    
    <Variable Name="FolderEditbox2State" Type="string" Value="disable" />
    <Variable Name="BrowseButton2State" Type="string" Value="disable" />
    
    <!-- Disable Option 4 -->
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\**NoValue**" Value="**NoValue**" Variable="RadioButton4" />
    
    <Chain DisableSystemRestore="yes">
      <PackageGroupRef Id="NetFx40Redist" />
      <MsiPackage
        Id="Setup"
        Compressed="yes"
        SourceFile="Setup.msi"
        Vital="yes">
        <MsiProperty Name="APPLICATIONFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>

  </Bundle>
</Wix>
